* {
    background-color: rgba(0, 0, 0, 0.6);
    color: #3355;
    list-style-type: none;
}

html {
    background-color: black;
}

#search-bar, #search-bar-btn {
    color: blanchedalmond;
    border: 1px solid;
}

ul { 
    float: left;
    text-align: center;
}

img {
    position: fixed;
    max-height: 75%;
    bottom: 0%;
    left: 5%;
}

a:hover {
    color: blanchedalmond;
    text-decoration: underline;
    cursor: default;
}

#main, #toro, #trice {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

#sbtn:active: #sbtn:hover {
    border: 1px blanchedalmond solid;
    color:white;
    background:white;
}

#search-bar-wrapper {
	display:flex;
	align-content:center;
	justify-content:center;
/*6699*/
