html {
    background: black;
    color: #4488;
    text-align: center;
}

img {
    position: fixed;
    max-height: 75%;
    bottom: 0%;
    left: 5%;
}

#search-bar-wrapper, .col {
	display: flex;
	align-content: center;
	justify-content: center;
}

li {
	list-style: none;
}

a, a:hover {
	color:#4488;
	text-decoration:none;
	cursor:default;
}

#search-bar, #search-bar-btn, #sbtn {
	background: black;
	color: blanchedalmond;
	border: 1px #333 solid;
}
/*6699*/
